img {
    height: auto;
    width: 250px;
}

h1 {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: orange;
}

body {
    background-color: bisque;
}
li {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 500;
    text-align: center;
    list-style: none;
}
.containers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.title {
border-radius: 2px;
background: sienna;
color: white;
padding: 2px 2px;
}



