img {
    height: auto;
    width: 200px;
    display: inline-block;
    justify-content: center;}
h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: orange;}
body {
    background-color: bisque;}
li {
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 500;
}
.bullets {
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
